<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Generate Taxonomy</title>
    <link rel="stylesheet" href="static/taxon_neuro_style.css">
    <link rel="shortcut icon" href="static/favicon.ico">
</head>
<body>
    <div class="left-border">
        <button onclick="location.href='/'" class="back-button">&#8592;</button>
    </div>
    <div class="main-content">
        <div id="gen_ont">
            <h1>Generate Taxonomy</h1>
            <p>Enter a criteria below: </p>
            
            <label for="ontology-select">Select Taxonomy Type:</label>
            <select id="ontology-select" onchange="fetchTaxonomy()">
                <option value="data">Data</option>
                <option value="layer">Layer</option>
                <option value="task">Task</option>
            </select>

            <img id="taxonomy-image" src="/static/datacharacterization.png" alt="Generated Taxonomy Image" />

        </div>
    </div>

    <script src="static/taxon_neuro_js.js"></script>
</body>
</html>