-r "requirements/requirements-query_rag.txt"
-r "requirements/requirements-document_splitter.txt"
-r "requirements/requirements-embedding_model.txt"
-r "requirements/requirements-llm_model.txt"
-r "requirements/requirements-pdf_loader.txt"
-r "requirements/requirements-owl.txt"
-r "requirements/requirements-rag_sever.txt"


# # *** HOW TO VENV ***

# # Create virtual environment
# python3 -m venv venv

# # Activate venv in WSL
# source venv/bin/activate

# # Install requirements
# pip install -r requirements.txt

# # Deactivate virtual environment
# deactivate