Ubuntu 22.04

Environment:
python = 3.10.15
cudatoolkit = 12.4
----------------------
libraries:
pytorch 
torchvision
torchaudio
transformers
pandas
numpy
----------------------
llama:
llama-stack
pydantic


notdone:
pydantic
starlette[full]
uvicorn
fastapi[standard]

environment redownload:
make python 3.10 conda environment

then grab CUDA 12.4 
https://pytorch.org/get-started/locally/

then conda install transformer 

pip install llama_stack

important to note that ubuntu 24.04 doesnt work with Docker Desktop 10/18/2024