

#Llama index
llama-index-core
llama-index-llms-langchain
llama-index-embeddings-langchain

#Langchain
pypdf
langchain
langchain-ollama
langchain-community
langchain-huggingface

#Others
torch
transformers
ast

# llama-index-embeddings-huggingface
# llama-index-embeddings-langchain

# llama-index-llms-langchain
#BE IN WSL
# python3 -m venv venv
# source venv/bin/activate
# pip install -r requirements.txt