pydantic
owlready2

spacy 
scispacy
sentencetransformers

https://s3-us-west-2.amazonaws.com/ai2-s2-scispacy/releases/v0.5.4/en_core_sci_lg-0.5.4.tar.gz


#Llama index
# llama-index-core
# llama-index-llms-langchain
# llama-index-embeddings-langchain

# #Langchain
# pypdf
# langchain
# langchain-ollama
# langchain-community
# langchain-huggingface

# #Others
# torch
# transformers



# llama-index-embeddings-huggingface
# llama-index-embeddings-langchain

# llama-index-llms-langchain
#BE IN WSL
# python3 -m venv venv
# source venv/bin/activate
# pip install -r requirements.txt